
<div class="header">
  <nav>
    <a class="header-logo" href="#" title="blog Desktop">
    </a>
    <ul class="header-nav">

      <li class="header-nav-item">
        <button class="header-btn">Amy welcome!</button>
          <div class="dropdown-group">
            <p class="drop-item">Profile</p>
          </div>
      </li>
      <li class="header-nav-item">
        <button class="header-btn">Sign Out</button>
      </li>
    </ul>
  </nav>
  <svg class="svgTriangle">
    <path d="M0,10 20,10 10,0z" class="fangShape_1s2t3cl"></path>
    <path d="M0,10 10,0 20,10" class="fangStroke_tjp8vr"></path>
  </svg>
</div>
