.profile {
    text-align: center;
}

.profile-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: black;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .5s;
    &.show {
        z-index: 1000;
        background: rgba(0, 0, 0, 0.69);
        opacity: 1;
    }
}

.profilebox {
    display: inline-table;
    position: absolute;
    overflow-y: scroll;
    top: 8%;
    left: calc(50% - 150.68px);  /* 150.68 is dialog half width*/
    max-height: 695px;
    text-align: start;
    background: #fff;
    color: #4e4e4e;
}

.profile-title {
    font-size: xx-large;
    text-align: center;
}
.title-text {
    display: flex;
    justify-content: space-between;
}
.profile-input {
    width: 100%;
    padding: 5px 0px 5px 0px;
}
.invalid-input{
    color: #948b8b;
    cursor: not-allowed;
}
.profile-input.success {
    border: 1px solid #f8c3cd;
}

/*icon 在input 裡*/
.icon-position {
    position: absolute;
    top: 23px;
    right: 0;
}

.add-div {
    text-align: right;
}
.addBtn {
    letter-spacing: 1px;
    border: 0;
    padding: 8px;
    background: #EB7A77;
    color: #fff;
}

.prfofile-top {
    margin-top: 25.7px;
}
