<% include ../_head.html %>

<% include ../components/_header.html %>


<div class="homepage container">
  <h2 class="hidden">Homepage</h2>

  <div class="chart-container">

  </div>

  <!-- Margin and Pnl message: end -->

  <div class="datatable-container">
    <div class="datatable-container-header">

    </div>
    <div class="datatable-container-body">

    </div>
  </div>

</div>


<script>
  window.addEventListener("load", function () {
    document.body.className = "login";
}, false);
</script>


<% include ../components/_footer.html %>

<% include ../_end.html %>
